body {
    background: url(unnamed.png)  center fixed; 
    -webkit-background: cover;
    -moz-background: cover;
    -o-background: cover;
    background: cover;  
    width: 100%;
    height: 100%;
}